<!-- Start Breadcrumb 
    ============================================= -->
<div class="breadcrumb-area text-center shadow dark bg-fixed text-light"
    style="background-image: url(assets/img/2440x1578.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1>Latest Blog</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li class="active">Blog</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->

<!-- Start Blog 
    ============================================= -->
<div class="blog-area blog-grid default-padding">
    <div class="container">
        <div class="blog-item-box">
            <div class="row">
                <!-- Single Item -->
                <div class="col-xl-4 col-md-6 single-item">
                    <div class="blog-style-one">
                        <div class="thumb">
                            <a href="blog-single-with-sidebar.html"><img src="assets/img/800x600.png"
                                    alt="Image Not Found"></a>
                            <div class="date"><strong>18</strong> <span>Apr, 2024</span></div>
                        </div>
                        <div class="info">
                            <div class="meta">
                                <ul>
                                    <li>
                                        <a href="#">Admin</a>
                                    </li>
                                    <li>
                                        <a href="#">26 Comments</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="post-title">
                                <a href="blog-single-with-sidebar.html">Announcing if attachment resolution
                                    sentiments.</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- Single Item -->
                <!-- Single Item -->
                <div class="col-xl-4 col-md-6 single-item">
                    <div class="blog-style-one">
                        <div class="thumb">
                            <a href="blog-single-with-sidebar.html"><img src="assets/img/800x600.png"
                                    alt="Image Not Found"></a>
                            <div class="date"><strong>08</strong> <span>Jul, 2024</span></div>
                        </div>
                        <div class="info">
                            <div class="meta">
                                <ul>
                                    <li>
                                        <a href="#">Admin</a>
                                    </li>
                                    <li>
                                        <a href="#">12 Comments</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="post-title">
                                <a href="blog-single-with-sidebar.html">Minuter him own clothes but observe country.</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- Single Item -->
                <!-- Single Item -->
                <div class="col-xl-4 col-md-6 single-item">
                    <div class="blog-style-one">
                        <div class="thumb">
                            <a href="blog-single-with-sidebar.html"><img src="assets/img/800x600.png"
                                    alt="Image Not Found"></a>
                            <div class="date"><strong>26</strong> <span>Aug, 2024</span></div>
                        </div>
                        <div class="info">
                            <div class="meta">
                                <ul>
                                    <li>
                                        <a href="#">Admin</a>
                                    </li>
                                    <li>
                                        <a href="#">45 Comments</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="post-title">
                                <a href="blog-single-with-sidebar.html">Overcame breeding point concerns has
                                    terminate</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- Single Item -->
                <!-- Single Item -->
                <div class="col-xl-4 col-md-6 single-item">
                    <div class="blog-style-one">
                        <div class="thumb">
                            <a href="blog-single-with-sidebar.html"><img src="assets/img/800x600.png"
                                    alt="Image Not Found"></a>
                            <div class="date"><strong>28</strong> <span>Sep, 2024</span></div>
                        </div>
                        <div class="info">
                            <div class="meta">
                                <ul>
                                    <li>
                                        <a href="#">Admin</a>
                                    </li>
                                    <li>
                                        <a href="#">33 Comments</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="post-title">
                                <a href="blog-single-with-sidebar.html">Announcing if attachment resolution
                                    sentiments.</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- Single Item -->
                <!-- Single Item -->
                <div class="col-xl-4 col-md-6 single-item">
                    <div class="blog-style-one">
                        <div class="thumb">
                            <a href="blog-single-with-sidebar.html"><img src="assets/img/800x600.png"
                                    alt="Image Not Found"></a>
                            <div class="date"><strong>22</strong> <span>Aug, 2024</span></div>
                        </div>
                        <div class="info">
                            <div class="meta">
                                <ul>
                                    <li>
                                        <a href="#">Admin</a>
                                    </li>
                                    <li>
                                        <a href="#">66 Comments</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="post-title">
                                <a href="blog-single-with-sidebar.html">Minuter him own clothes but observe country.</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- Single Item -->
                <!-- Single Item -->
                <div class="col-xl-4 col-md-6 single-item">
                    <div class="blog-style-one">
                        <div class="thumb">
                            <a href="blog-single-with-sidebar.html"><img src="assets/img/800x600.png"
                                    alt="Image Not Found"></a>
                            <div class="date"><strong>08</strong> <span>Dec, 2024</span></div>
                        </div>
                        <div class="info">
                            <div class="meta">
                                <ul>
                                    <li>
                                        <a href="#">Admin</a>
                                    </li>
                                    <li>
                                        <a href="#">68 Comments</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="post-title">
                                <a href="blog-single-with-sidebar.html">Overcame breeding point concerns has
                                    terminate</a>
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- Single Item -->
            </div>
        </div>
        <!-- Pagination -->
        <div class="row">
            <div class="col-md-12 pagi-area text-center">
                <nav aria-label="navigation">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="blog-3-colum.html"><i
                                    class="fas fa-angle-double-left"></i></a></li>
                        <li class="page-item active"><a class="page-link" href="blog-3-colum.html">1</a></li>
                        <li class="page-item"><a class="page-link" href="blog-3-colum.html">2</a></li>
                        <li class="page-item"><a class="page-link" href="blog-3-colum.html">3</a></li>
                        <li class="page-item"><a class="page-link" href="blog-3-colum.html"><i
                                    class="fas fa-angle-double-right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- End Pagination -->
    </div>
</div>
<!-- End Blog -->