<!-- Start Breadcrumb 
    ============================================= -->
<div class="breadcrumb-area text-center shadow dark-hard bg-cover text-light"
    style="background-image: url(assets/img/2440x1578.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1>Team Details</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li class="active">Team</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->

<!-- Start Team Single Area
    ============================================= -->
<div class="team-single-area default-padding">
    <div class="container">
        <div class="team-content-top">
            <div class="row align-center">
                <div class="col-lg-5 left-info mb-md-50 mb-xs-40">
                    <div class="thumb">
                        <img src="assets/img/800x800.png" alt="Thumb">
                    </div>
                </div>
                <div class="col-lg-7 right-info pl-80 pl-md-15 pl-xs-15">
                    <h2>Alex Bin Melini</h2>
                    <span>Founder & Owner</span>
                    <p>
                        Bring to the table win-win survival strategies to ensure proactive domination. At the end of the
                        day, going forward, a new normal that has evolved from generation is on the runway heading
                        towards a streamlined cloud solution. User generated content in real-time will have multiple
                        touchpoints for offshoring house in never fruit up. Pasture imagine my garrets..
                    </p>

                    <ul>
                        <li>
                            <strong>Email:</strong>
                            <a href="mailto:support@digital.com">support@digital.com</a>
                        </li>
                        <li>
                            <strong>Phone:</strong>
                            <a href="tel:123-456-7890">+44-20-7328-4499</a>
                        </li>
                    </ul>
                    <div class="social">
                        <a class="btn circle btn-sm btn-dark animation" href="contact-us.html">Contact Me</a>
                        <div class="share-link">
                            <i class="fas fa-share-alt"></i>
                            <ul>
                                <li class="facebook">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="twitter">
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="youtube">
                                    <a href="#">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Team Bottom Info -->
<div class="bottom-info bg-gray default-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="team-single-list">
                    <div class="team-list-item">
                        <h4>Main Skills</h4>
                        <ul>
                            <li>
                                <h5>Harvesting</h5>
                                <p>
                                    Harvesting is the process of collecting plants, animals, or fish
                                </p>
                            </li>
                            <li>
                                <h5>Farm operations</h5>
                                <p>
                                    it's important for farmers to have a strong understanding of the farming.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="team-list-item">
                        <h4>Expertise</h4>
                        <ul>
                            <li>
                                <h5>Livestock </h5>
                                <p>
                                    Livestock Management and Innovation are still quite important.
                                </p>
                            </li>
                            <li>
                                <h5>Interpersonal </h5>
                                <p>
                                    Interpersonal skills also help farmers effectively interact with buyers.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pl-60 pl-md-15 pl-xs-15">
                <div class="skill-items">
                    <h3>Personal Skills</h3>
                    <!-- Progress Bar Start -->
                    <div class="progress-box">
                        <h5>Cereals</h5>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-width="88">
                                <span>88%</span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-box">
                        <h5>Fruit</h5>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-width="95">
                                <span>95%</span>
                            </div>
                        </div>
                    </div>
                    <div class="progress-box">
                        <h5>Vegetables</h5>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" data-width="80">
                                <span>80%</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Progressbar -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Team Single Area -->