<!-- Start Breadcrumb 
    ============================================= -->
<div class="breadcrumb-area text-center shadow dark-hard bg-cover text-light"
    style="background-image: url(assets/img/2440x1578.png);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1>Recent Projects</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li class="active">Project</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb -->

<!-- Start Gallery 
    ============================================= -->
<div class="gallery-style-two-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 gallery-content">
                <div class="magnific-mix-gallery gallery-masonary">
                    <div id="gallery-masonary" class="gallery-items colums-3">
                        <!-- Single Item -->
                        <div class="gallery-item">
                            <div class="gallery-style-one">
                                <img src="assets/img/800x900.png" alt="Image not Found">
                                <div class="overlay">
                                    <p>Fruit</p>
                                    <h4><a href="project-details">Healthy Food</a></h4>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="gallery-item width">
                            <div class="gallery-style-one">
                                <img src="assets/img/1500x813.png" alt="Image not Found">
                                <div class="overlay">
                                    <p>Vegetables</p>
                                    <h4><a href="project-details">Organic Vegetables</a></h4>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="gallery-item">
                            <div class="gallery-style-one">
                                <img src="assets/img/800x900.png" alt="Image not Found">
                                <div class="overlay">
                                    <p>Maize</p>
                                    <h4><a href="project-details">Fresh Corn</a></h4>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="gallery-item">
                            <div class="gallery-style-one">
                                <img src="assets/img/800x900.png" alt="Image not Found">
                                <div class="overlay">
                                    <p>Cereals</p>
                                    <h4><a href="project-details">Fresh Mandrains</a></h4>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="gallery-item">
                            <div class="gallery-style-one">
                                <img src="assets/img/800x900.png" alt="Image not Found">
                                <div class="overlay">
                                    <p>Havest</p>
                                    <h4><a href="project-details">Crispy Cucumber</a></h4>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Gallery -->